<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_2_SnapShot_1554887644187"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="specName" value="DieHard"/>
</launchConfiguration>
